<header>
    <h1 class="logo"><a href="/">Your Blog</a></h1>
    <nav>
        <ul>
            <li class="nav1"><a href="/">Home</a></li>
            <li class="nav1">
                  <a href="/create-post" id="createPostBtn">
                      Create Post
                  </a>
              </li>
            <!-- <li class="nav1"><a href="#">Contact</a></li> -->
        </ul>
    </nav>
</header>